# deps
/node_modules
/.pnp
.pnp.*
# next
/.next/
/out/
/build
next-env.d.ts
*.tsbuildinfo
# env (the template is committed)
.env*
!.env.example
# misc
.DS_Store
*.pem
npm-debug.log*
.vercel
coverage

.vercel
.env*
